h1{
color: #025157;
font-family: "Alegreya", serif;
font-size: 60px;
margin-bottom: 24px;
}

h4{
color: #46484c;
}

button{
background-color: #025157;
color: #fff;
margin-left: -5px;
height: 40px;
border: none;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
padding: 6px 20px;
}

form{
    text-align: center;

}

input{
height: 35px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}