*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
color: #025157;
font-family: "Alegreya", serif;
font-size: 60px;
margin-bottom: 24px;
font-weight: 900;
}

h4{
color: #46484c;
}

button{
background-color: #025157;
color: #fff;
margin-left: -5px;
height: 41px;
border: none;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
padding: 6px 20px;
}

form{
    text-align: center;

}

input{
height: 35px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.header {
margin-top: 40px;
margin-left: 20px;
margin-right: 20px;
font-size: 0;
height: 45px;
font-family: sans-serif;
display: inline;
  }

  .header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 90%;
    line-height: 45px;
  }

li {
    display: inline;
  }
.logo{
    width: 10%;
  }

  .logo > img {
    height: 100%;
  }

.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
  }

  .actions {
    width: 1 5%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  }
  
  .actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .actions a {
    color: #67b54b;
  }
  
  .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
  }

  .promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }

  .publish {
    /* container styles if any */
    flex: 1;
  }
  
  .publish h3 {
    font-family: 'Alegreya', serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }

  .explicacion-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  
  .explicacion-video img {
    width: 120px;
    margin-top: 10px;
  }